{% extends 'base.html' %} {% block content %}

<h1>Edit Post</h1>

<form method="POST">
	<div class="input-wrapper">
		<label for="title">Title</label>
		<input class="text-input"
			type="text"
			id="title"
			name="title"
			value="{{ post.title }}"
			required
		/>
	</div>

	<div class="input-wrapper">
		<label for="content">Post Content</label>
		<textarea class="text-input" id="content" name="content" required>
{{ post.content }}
		</textarea
		>
	</div>

	{% for tag in tags %}
	<div class="input-wrapper">
		<input 
			type="checkbox"
			value="{{ tag.id }}"
			id="tag_{{ tag.id }}"
			{% if tag in post.tags %}checked{% endif %}
			name="tags"
		/>
		<label for="tag_{{ tag.id }}"> {{ tag.name }} </label>
	</div>
	{% endfor %}

	<button
		class="btn cancel"
		formmethod="GET"
		formaction="/users/{{ post.user_id }}"
	>
		Cancel
	</button>
	<button class="btn submit">Edit</button>
</form>

{% endblock %}
