
{% extends 'base.html' %} {% block content %}
<div style="display:flex">
    <img class="profile" src={{user.image_url}}/>
    <div>
        <h1 style="padding-left: 10px;">{{user.first_name}} {{user.last_name}}</h1>
        <form style="display: flex; flex-direction:row;">
            <button class="btn submit" style="width:100px"
                formaction="/users/{{ user.id }}/edit"
                formmethod="GET">Edit
            </button>
            <button class="btn delete" style="width:100px"
                formaction="/users/{{ user.id }}/delete"
                formmethod="POST">Delete
            </button>
        </form>
    </div>
</div>

<h2>Posts</h2>

<ul>
    {% for post in user.posts %}
    <li>
    <a href="/posts/{{post.id}}">{{ post.title }}</a><span>{{ post.formatted_date }}</span>
    </li>
    {% endfor %}
</ul>

<a class="btn submit" href="/users/{{user.id}}/posts/new">Add Post</a>

{% endblock %}