{% extends 'base.html' %} {% block content %}
<h1>Edit user</h1>
<form method="POST">
	<div class="input-wrapper">
		<label for="first-name">First Name</label>
		<input
			type="text"
			id="first-name"
			name="first-name"
			required
			placeholder="John"
		/>
	</div>
    <div class="input-wrapper">
		<label for="last-name">Last Name</label>
		<input
			type="text"
			id="last-name"
			name="last-name"
			required
			placeholder="Smith"
		/>
	</div>
    <div class="input-wrapper">
		<label for="image-url">Image URL</label>
		<input
			type="text"
			id="image-url"
			name="image-url"
			required
			placeholder="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9966634a-07e9-43d2-abac-fdfc47d86ecf/deujhp4-31c473a8-1612-445c-9267-d7fafbd818d3.jpg/v1/fill/w_256,h_256,q_75,strp/beluga_cat_by_mikimeow686_deujhp4-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MjU2IiwicGF0aCI6IlwvZlwvOTk2NjYzNGEtMDdlOS00M2QyLWFiYWMtZmRmYzQ3ZDg2ZWNmXC9kZXVqaHA0LTMxYzQ3M2E4LTE2MTItNDQ1Yy05MjY3LWQ3ZmFmYmQ4MThkMy5qcGciLCJ3aWR0aCI6Ijw9MjU2In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.ZZlgTdaV8mrqWzKHDtP9UeL3tzS1ZPuIR0tase4rLkw"
		/>
	</div>
	<a href="/users" class="btn cancel">Cancel</a>
    <button class="btn submit">Add</button>
</form>

{% endblock %}